<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github visitor</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body, html{
            width: 100%;
            height: 100%
        }
        ul{
            width: 100%;
        }
        li{
            
        }
        li b{
            
        }
        li input{
            flex-grow: 1;
            margin: 0 20px;
        }
        li button{
            
        }
    </style>
</head>
<body>
    <ul>
        {% for file in themes %}
        <li>
            {% set url = '_?theme=%s&active=3200ff&deactive=f1f1f1&len=8&speed=40&size=40' % file %}
            <div style="display: flex;width: 100%">
                <b>{{ file }}</b>
                <input class="ipt" disabled data-v="{{ url }}"/>
                <button>copy</button>
            </div>
            <img src="{{ url }}"/>
        </li>
        {% endfor %}
    </ul>
<script>
document.querySelectorAll('input.ipt').forEach(el => {
    el.value = location.origin + location.pathname + el.dataset.v
})
</script>
</body>
</html>
